:root {
  --text: rgba(0, 0, 0, 1);
  --text_version: rgba(131, 131, 131, 1);
  --text_header: rgba(145, 151, 179, 1);
  --text_main: rgba(181, 183, 192, 1);
  --background_header: rgba(255, 255, 255, 1);
  --background_main: rgba(249, 251, 255, 1);
  --background_pagin: rgba(245, 245, 245, 1);
  --active: rgba(22, 192, 152, 1);
  --border_table: rgba(238, 238, 238, 1);
  --table_th: rgba(181, 183, 192, 1);
  --table_td: rgba(41, 45, 50, 1);
  --table_td_active: rgba(22, 192, 152, 0.38);
  --table_td_inactive: rgba(255, 197, 197, 1);
  --border_table_active: rgba(0, 176, 135, 1);
  --border_table_inactive: rgba(223, 4, 4, 1);
  --border_pagin: rgba(238, 238, 238, 1);
  --hover: rgba(89, 50, 234, 1);
}
